body{
	background-image:url('w1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 700px;
	background-image: center; 
	margin: auto;
	background-color: lightpink;
}

.sidenavbar{
	
	font-size: 20px;
	font-weight:bold;
	word-spacing: 30px;
	text-transform: uppercase;


}


td{

	font-size: 30px;
	padding-left:150px;
	font-weight: bold;
      font-color:red;
      text-align:center;
      padding-top: 15%;
}
h1{
	padding-left: 500px;
	font-size: 40px;
    position: absolute;
   
	
}
h2{
	padding-left: 330px;
	font-size: 30px;
    position: absolute;
    padding-top: 70px;

}

.jssocials-shares{
  display: flex;
  justify-content: right;
  share:right;
  padding-left:500px;
  margin-top:100px;
  padding-top: 30%;

 
}
.jssocials-shares{
  display: flex;
  justify-content:right;
  share:right;
  margin-left:940px;
  margin-top:0;
}
.one{
	margin-top:30%;
}
.wrapper{
	display:flex;
	position:absolute;
}
.wrapper .sidenavbar{
	position: fixed;
	height: 100px;

    margin-right: 700%;
    list-style-type:none;
}
